<h2>Plans</h2>
 <div class="container">
    <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Status</th>
        <th>Change Status </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customer" [class.selected]="customer === selectedCustomer" (click)="onSelect(customer)">
        <td>{{customer.id}}</td>
        <td class= "pointer" (click)='onNav()'>{{customer.name}}</td>
        <td id="status-{{customer.id}}">{{customer.status}}</td>
        <td> 
          <label class="switch">
            <input type="checkbox" >
            <span class= "slider round" (click)="toggle(customer.id)" [ngClass]= "(customer.id === 'Inactive') ? 'greenClass' : 'redClass'" ></span> 
          </label>
        </td>
      </tr>
    </tbody>
  </table>
  </div>